/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sharede styles start */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFF;
    background-color: #FF900E;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 23px;
    border: 2px solid #FF900E;
    cursor: pointer;
}

.btn-primary:hover {
    color: #FF900E;
    background-color: #FFF;
}

.description-paimary {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 30px;
}

/* sharede styles end */

/* header section styles start*/
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 100px;
}

/* header section styles end */

/* nav section styles start*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3 {
    color: #131313;
    font-size: 1.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

ul>li {
    list-style: none;
    padding-left: 25px;
    font-weight: 500;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #424242;
}

/* nav section styles end*/

/* banner section style start */
.banner-info {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 30px;
}



.banner-img {
    width: 100%;
    border-radius: 8px;
}

/* banner section style end */

/* main section style start */
main {
    margin: 50px 150px 100px 150px;
}

/* main section style end */

/* feature banner style start */
.feature-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.feature-banner-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-banner-image {
    width: 35vh;
    border-radius: 8px
}

.feature-banner-title {
    padding-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
}

#quick-list {
    color: #727272;
    font-weight: 500;
}

#of-our {
    color: #131313;
}

#feature {
    color: #FF900E;
}


/* feature banner style end */




/* recponsive for small device style start*/
@media screen and (max-width: 576px) {
    .btn-primary {
        font-size: 0.8rem;
        padding: 9px 12px;
    }

    header {
        padding: 10px 10px;
    }

    main {
        margin: 50px 10px 100px 10px;
    }

    nav,
    .feature-banner-container {
        flex-direction: column-reverse;
    }

    nav>ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .banner-info {
        margin-top: 30px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .feature-banner-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-banner-image {
        width: 100%;
    }

    .feature-banner-info {
        text-align: center;
    }
}



    /* recponsive for mediam device style start*/

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .btn-primary {
            font-size: 1rem;
            padding: 12px 16px;
        }

        header {
            padding: 20px 30px;
        }

        main {
            margin: 50px 50px 100px 50px;
        }

        .feature-banner-container {
            flex-direction: column-reverse;
        }
        .feature-banner-info {
            text-align: center;
        }
    }