/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sharede styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-promery {
    color: #FFF;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 23px;
    border: 2px solid #FF900E;
    cursor: pointer;
}

.btn-promery:hover {
    color: #FF900E;
    background-color: #FFF;
}

/* header section styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 110px;
}

/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3 {
    color: #131313;
    font-size: 1.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

ul>li {
    list-style: none;
    padding-left: 25px;
    font-weight: 500;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #424242;
}

/* banner section style */
.banner-info {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 30px;
}

.banner-img {
    width: 100%;
    border-radius: 5px;
}

/* recponsive for small device */
@media screen and (max-width: 576px) {
    header {
        padding: 5px 10px;
    }

    nav {
        flex-direction: column-reverse;
    }

    nav>ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .banner-info {
        margin-top: 30px;
    }

    .banner-title {
        font-size: 3rem;
    }
}